/* Mobile Styles */

/*
1. Align nav link items to teh right of the screen
2. Add white space around nav links
3. Create a Hero component
4. Add you name and little description about you to the hero
5. Add a button that will eventually link to your contact form
6. Usin MDN Import normalize.css (google it) via the css stylesheet must be in stylesheet


*/

@import url('css/normalize.css');

* {
    /* margin: 0; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: blue;
    /* background-color: lightgrey; */
}


nav {
    display: flex;
    justify-content: flex-end;
}

nav .nav-link {
    margin-right: 16px;
}
nav .nav-link:last-of-type {
    margin-right: 5px;
}
.hero {
    background:url('https://media-cdn.tripadvisor.com/media/photo-m/1280/15/50/69/13/beautiful-punta-cana.jpg');
    background-size: cover;
    background-position: center center; 
    /* min-height: 33vh; */
    display: flex;
    margin: 2px;
    flex-direction: column;
    justify-content: center;
    padding: 10px 22px;
}

.button {
    color: white;
    background: rgba(231, 234, 236, 0.5);
    color: blue;
    padding: 8px;
    border-radius: 4px;
    max-width:160px;
    text-decoration: none;
    margin-top: 40px;
    display: inherit;
}